$title_home_header_color: #f5f5f5;

//
// start home page header styles
.home_header {
  position: relative;
  padding: 0rem 3rem;
  margin-top: 6rem !important;
  .wrapper_home_header {
    opacity: 0;
    background-image: url("https://uploads-ssl.webflow.com/5bc989248743153705f137da/60410425ffe7011d191f5c1e_home__hero--bg.jpg");
    background-size: 170%;
    background-repeat: no-repeat;
    filter: brightness(0.85);
    width: 100%;
    height: 90.5vh;
    overflow: hidden;
    .title_home_header {
      text-align: center;
      margin-left: 0;
      margin-top: 5rem;
      opacity: 0;
      font-size: 17vw;
      font-family: "SaolDisplay", serif;
      font-weight: 500;
      color: $title_home_header_color;
    }
    .home_title_ticker_header {
      opacity: 0;
      position: absolute;
      overflow: hidden;
      width: 80%;
      bottom: 5rem;
      left: 10rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid aliceblue;
      border-left-width: 0px;
      border-right-width: 0px;
      padding: 1.5rem 0rem;
      .inner_content {
        animation: scrollTicker infinite 14s linear;
        transform: translateX(150%);
        white-space: nowrap;
        span {
          font-size: 2rem;
          font-family: "Light", sans-serif;
          color: $title_home_header_color;
          text-transform: capitalize;
          display: inline-block;
          opacity: 0.8;
          margin: 0 3rem;
          white-space: nowrap;
        }
      }
      .inner_content2 {
        animation: scrollTicker2 infinite 14s linear;
        animation-delay: 5.9s;
        white-space: nowrap;
        transform: translateX(55%);
        span {
          font-size: 2rem;
          font-family: "Light", sans-serif;
          color: $title_home_header_color;
          text-transform: capitalize;
          display: inline-block;
          opacity: 0.8;
          margin: 0 3rem;
          white-space: nowrap;
        }
      }
    }
  }
}

@keyframes scrollTicker {
  0% {
    transform: translateX(150%);
  }
  100% {
    transform: translateX(-55%);
  }
}
@keyframes scrollTicker2 {
  0% {
    transform: translateX(55%);
  }
  100% {
    transform: translateX(-150%);
  }
}
// end home page header style
//

// start stop breath section styles
.stop_breath {
  margin-top: 13rem;
  padding: 0 3rem !important;
  .wrapper_stop_breath_video {
    width: 100%;
    height: 85vh;
    overflow: hidden;
    div {
      width: 95%;
      overflow: hidden;
    }
    video {
      width: 100%;
    }
  }
  .title_stop_breath {
    font-size: 6rem;
    margin-left: 5rem;
    text-transform: lowercase;
    color: black;
    font-weight: 500;
    line-height: 100px;
    width: 460px;
    font-family: "SaolDisplay", serif;
  }
  .desc_stop_breath {
    font-size: 14px;
    text-transform: capitalize;
    color: black;
    opacity: 0.8;
    line-height: 25px;
    // max-width: 600px;
    margin-top: 10rem;
    margin-left: 30%;
    font-family: "Light", sans-serif;
  }
}
// ens stop breath section styles
//

// start imgages section styles
.images_section {
  margin-top: 10rem;
  .wrapper_left_image {
    overflow: hidden;
    width: 70%;
    height: 100%;
    margin-top: -5rem;
    margin-left: 3rem;
    img {
      display: inline-block;
      width: 100%;
      transform: scale(2.5);
      clip-path: inset(100% 0% 0% 0%);
    }
  }
  .wrapper_right_image {
    width: 70%;
    margin-left: auto;
    margin-right: 3rem;
    overflow: hidden !important;
    img {
      width: 100%;
      display: inline-block;
      transform: scale(2.5);
      clip-path: inset(100% 0% 0% 0%);
    }
  }
  .btn_imageSection {
    margin-top: -5rem;
  }
}
// end imgages section styles

// start techniques section
.techniquess {
  margin-top: 8rem;
  padding-top: 10rem;
  .wrapper_number3 {
    text-align: center;
    svg {
      transform: scale(1.1);
      width: 38vh;
    }
  }
  .wrapper_techniques {
    .title_techniques {
      font-family: "SaolDisplay", serif;
      text-transform: capitalize;
      font-size: 6rem;
      line-height: 6.5rem;
      width: 85%;
      color: white;
    }
    .desc_techniques {
      font-size: 15px;
      color: white;
      font-family: "Light", sans-serif;
      text-transform: capitalize;
      line-height: 1.5rem;
      width: 75%;
      margin-top: 5rem;
    }
  }
  .home_title_ticker_techniquess {
    overflow: hidden;
    width: 100%;
    left: 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid aliceblue;
    border-left-width: 0px;
    border-right-width: 0px;
    margin-top: 12rem;
    .inner_content {
      animation: scrollTicker3 infinite 19.8s linear;
      transform: translateX(153%);
      white-space: nowrap;
      span {
        font-size: 2rem;
        font-family: "Light", sans-serif;
        color: $title_home_header_color;
        text-transform: capitalize;
        display: inline-block;
        opacity: 0.8;
        margin: 0 5rem;
        white-space: nowrap;
      }
    }
    .inner_content2 {
      animation: scrollTicker4 infinite 20s linear;
      animation-delay: 9.7s;
      white-space: nowrap;
      transform: translateX(53%);
      span {
        font-size: 2rem;
        font-family: "Light", sans-serif;
        color: $title_home_header_color;
        text-transform: capitalize;
        display: inline-block;
        opacity: 0.8;
        margin: 0 5rem;
        white-space: nowrap;
      }
    }
  }

  @keyframes scrollTicker3 {
    0% {
      transform: translateX(153%);
    }
    100% {
      transform: translateX(-53%);
    }
  }
  @keyframes scrollTicker4 {
    0% {
      transform: translateX(53%);
    }
    100% {
      transform: translateX(-153%);
    }
  }
}

// end techniques section

// start sticky section styles
.sticky_section {
  border-bottom: 1px solid aliceblue;
  .wrapper_sticky_descs {
    width: 100%;
    position: relative;
    padding-top: 10rem;
    overflow: hidden;
    height: 100vh;
    .border_right {
      position: absolute;
      top: 0;
      right: 0rem;
      width: 1px;
      height: 0%;
      content: "";
      background-color: aliceblue;
    }
    .descs1 {
      margin-bottom: 1.5rem;
      margin-left: 8rem;
      .numbers {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 50px;
        span {
          position: absolute;
          // // // //
          &:nth-child(1) {
            top: 0rem;
            left: 0rem;
            font-size: 30px;
            font-family: "SaolDisplay", serif;
            color: #cfcfcf;
          }
          &:nth-child(2) {
            top: 1.6rem;
            left: 2.5rem;
            width: 25px;
            height: 2px;
            background-color: #cfcfcf;
            display: inline-block;
          }
          &:nth-child(3) {
            top: 0rem;
            left: 4.7rem;
            font-size: 30px;
            font-family: "SaolDisplay", serif;
            color: #cfcfcf;
          }
          // // // //
          &:nth-child(4) {
            top: 3rem;
            left: 0rem;
            font-size: 30px;
            font-family: "SaolDisplay", serif;
            color: #cfcfcf;
          }
          &:nth-child(5) {
            top: 4.6rem;
            left: 2.5rem;
            width: 25px;
            height: 2px;
            background-color: #cfcfcf;
            display: inline-block;
          }
          &:nth-child(6) {
            top: 3rem;
            left: 4.7rem;
            font-size: 30px;
            font-family: "SaolDisplay", serif;
            color: #cfcfcf;
          }
          // // // //
          &:nth-child(7) {
            top: 3rem;
            left: 0rem;
            font-size: 30px;
            font-family: "SaolDisplay", serif;
            color: #cfcfcf;
          }
          &:nth-child(8) {
            top: 4.6rem;
            left: 2.5rem;
            width: 25px;
            height: 2px;
            background-color: #cfcfcf;
            display: inline-block;
          }
          &:nth-child(9) {
            top: 3rem;
            left: 4.7rem;
            font-size: 30px;
            font-family: "SaolDisplay", serif;
            color: #cfcfcf;
          }
          // // // //
        }
      }
      .titles {
        position: relative;
        width: 100%;
        height: 235px;
        overflow: hidden;
        p {
          position: absolute;
          font-size: 6rem;
          color: aliceblue;
          font-family: "SaolDisplay", serif;
          font-weight: 500;
          text-transform: capitalize;
          &:nth-child(1) {
            top: 0rem;
            left: 0rem;
          }
          &:nth-child(2) {
            top: 7rem;
            left: 0rem;
          }
          // // //
          &:nth-child(3) {
            top: 15rem;
            left: 0rem;
          }
          &:nth-child(4) {
            top: 15rem;
            left: 0rem;
          }
          // // //
          &:nth-child(5) {
            top: 15rem;
            left: 0rem;
          }
        }
      }
      .descs {
        overflow: hidden;
        position: relative;
        margin-top: 2.5rem;
        width: 100%;
        height: 120px;
        p {
          position: absolute;
          font-size: 16px;
          color: rgb(213 220 223);
          text-transform: capitalize;
          width: 500px;
          line-height: 26px;
          font-family: "SaolDisplay", serif;
          &:nth-child(1) {
            top: 0rem;
            left: 0rem;
          }
          &:nth-child(2) {
            top: 15rem;
            left: 0rem;
          }
          &:nth-child(3) {
            top: 15rem;
            left: 0rem;
          }
        }
      }
    }
  }
  .wrapper_sticky_images {
    .wrapper_image1 {
      height: 380px;
      width: 100%;
      margin-top: 35rem;
      overflow: hidden;
      position: relative;
      z-index: -1;
      .image1_bt {
        position: absolute;
        top: 0rem;
        left: 0rem;
        content: "";
        width: 0%;
        height: 1px;
        background-color: aliceblue;
      }
      .image1_bbottom {
        position: absolute;
        bottom: 0rem;
        left: 0rem;
        content: "";
        width: 100%;
        height: 1px;
        background-color: aliceblue;
      }
      .bgImage1 {
        background-image: url("https://uploads-ssl.webflow.com/5bc989248743153705f137da/6041025d0a4449ca9a54c916_home__thumb__reflexologie.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 100%;
      }
    }
    .wrapper_image2 {
      position: relative;
      z-index: -1;
      height: 380px;
      width: 100%;
      margin-top: 15rem;
      overflow: hidden;
      .bgImage2 {
        background-image: url("https://uploads-ssl.webflow.com/5bc989248743153705f137da/604100ee99552d6f4f7efd38_home__thumb__massage.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 100%;
      }
      .image2_bt {
        position: absolute;
        top: 0rem;
        left: 0rem;
        content: "";
        width: 0%;
        height: 1px;
        background-color: aliceblue;
      }
      .image2_bbottom {
        position: absolute;
        bottom: 0rem;
        left: 0rem;
        content: "";
        width: 100%;
        height: 1px;
        background-color: aliceblue;
      }
    }
    .wrapper_image3 {
      position: relative;
      z-index: -1;
      height: 380px;
      width: 100%;
      margin-top: 15rem;
      overflow: hidden;
      .bgImage3 {
        width: 100%;
        height: 100%;
        background-image: url("https://uploads-ssl.webflow.com/5bc989248743153705f137da/604102b8c5383159a6010a21_home__thumb__physioscan.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
      .image3_bt {
        position: absolute;
        top: 0rem;
        left: 0rem;
        content: "";
        width: 0%;
        height: 1px;
        background-color: aliceblue;
      }
      .image3_bbottom {
        position: absolute;
        bottom: 0rem;
        left: 0rem;
        content: "";
        width: 100%;
        height: 1px;
        background-color: aliceblue;
      }
    }
  }
}
.wrapper_top_title {
  width: 90vw;
  margin-right: auto;
  margin-left: 3rem;
  margin-top: 10rem;
  .top_title {
    color: #f5f5f5;
    font-size: 6vw;
    width: 100%;
    line-height: 7rem;
    font-weight: 500;
    font-family: "SaolDisplay", serif;
    text-transform: uppercase;
  }
}
.wrapper_bottom_title {
  width: 70vw;
  margin-left: auto;
  margin-right: 3rem;
  .bottom_title {
    color: #f5f5f5;
    font-size: 6vw;
    line-height: 7rem;
    width: 100%;
    font-weight: 500;
    font-family: "SaolDisplay", serif;
    text-transform: uppercase;
  }
}
.about_writter {
  margin-top: 15rem !important;
  .wrapper_descs_writter {
    margin-left: 3rem;
    .about_writter_title {
      color: #f5f5f5;
      font-style: italic;
      font-size: 3.5vw;
      line-height: 4.5rem;
      width: 90%;
      font-family: "SaolDisplay", serif;
      font-weight: 400;
      white-space: normal;
    }
    .border_bottom_writter {
      width: 100%;
      height: 1px;
      background-color: #f5f5f5;
      margin-top: 10.5rem;
    }
    .writter_name {
      font-size: 16px;
      text-transform: uppercase;
      color: #f5f5f5;
      margin-top: 3.5rem;
      font-family: "Light", sans-serif;
      font-style: normal;
    }
  }
  .wrapper_all_writter {
    margin-right: 2rem;
    overflow: hidden;
    .wrapper_image_writter {
      overflow: hidden;
      border: 1px solid #f5f5f5;
      width: 100%;
      img {
        width: 100%;
      }
    }
    .wrapper_image_description {
      margin-top: 3.5rem;
      .writter_image_description {
        color: #f5f5f5;
        text-transform: capitalize;
        font-size: 16px;
        font-family: "Light", sans-serif;
        font-style: italic;
      }
    }
  }
}

// end sticky section styles

// start better health section styles
.better_health {
  margin-top: 8rem;
  padding-bottom: 3rem;
  .wrapper_logo5 {
    text-align: center;
  }
  .wrapper_betterHealth_desc {
    .title_betterHealth {
      margin-top: 3rem;
      font-size: 7vw;
      color: #000;
      font-family: "SaolDisplay", serif;
      white-space: normal;
      word-spacing: 2px;
      letter-spacing: -4px;
      line-height: 8rem;
    }
    .desc_betterHealth {
      font-size: 0.8vw;
      color: #000;
      font-family: "Light", sans-serif;
      white-space: normal;
      margin-top: 2rem;
      line-height: 20px;
    }
  }
}
.home_title_ticker_better_health {
  overflow: hidden;
  width: 100%;
  left: 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(0, 0, 0);
  border-left-width: 0px;
  border-right-width: 0px;
  margin-top: 6rem;
  .inner_content {
    animation: scrollTicker5 infinite 19.8s linear;
    transform: translateX(153%);
    white-space: nowrap;
    span {
      font-size: 2rem;
      font-family: "Light", sans-serif;
      color: #000;
      text-transform: capitalize;
      display: inline-block;
      opacity: 0.8;
      margin: 0 5rem;
      white-space: nowrap;
    }
  }
  .inner_content2 {
    animation: scrollTicker6 infinite 20s linear;
    animation-delay: 9.7s;
    white-space: nowrap;
    transform: translateX(53%);
    span {
      font-size: 2rem;
      font-family: "Light", sans-serif;
      color: #000;
      text-transform: capitalize;
      display: inline-block;
      opacity: 0.8;
      margin: 0 5rem;
      white-space: nowrap;
    }
  }
}

@keyframes scrollTicker5 {
  0% {
    transform: translateX(153%);
  }
  100% {
    transform: translateX(-53%);
  }
}
@keyframes scrollTicker6 {
  0% {
    transform: translateX(53%);
  }
  100% {
    transform: translateX(-153%);
  }
}
// end better health section styles
