// start header styles
.header_physioscan {
  margin-top: 7rem;
  .price_physioscan {
    text-align: center;
    margin-top: 7rem;
    span {
      font-size: 2vw;
      display: inline-block;
      color: #000;
      opacity: 0.7;
      font-weight: 100;
      //   font-family: "SaolDisplay", serif;
      font-family: "Oswald", sans-serif;
      font-style: italic;
    }
    .line_price {
      width: 20px;
      height: 1px;
      background-color: #000;
    }
  }
  .title_header_physioscan {
    text-align: center;
    margin-top: 3rem;
    .title_part1 {
      font-size: 10vw;
      font-weight: 500;
      font-family: "SaolDisplay", serif;
      display: inline-block;
    }
    .title_part2 {
      display: inline-block;
      font-size: 10vw;
      font-weight: 500;
      font-family: "SaolDisplay", serif;
    }
  }
  .scope {
    margin-top: -3%;
    mix-blend-mode: multiply;
    .wrapper_header_image {
      width: 100%;
      height: 103vh;
      position: relative;
      div {
        width: 100%;
        height: 100%;
        position: absolute;
        .zxa {
          clip-path: inset(0% 30%);
          filter: brightness(0.85);
          background-image: url(https://uploads-ssl.webflow.com/5bc989248743153705f137da/6012d616a6c6eb0423f3a9f0_bg_hero-physioscan.jpg);
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
    }
  }
  .sticky_texts_physioscan {
    position: relative;
    width: 100%;
    height: 78vh;
    .title_header_image {
      position: absolute;
      line-height: 6.5rem;
      top: -15%;
      font-size: 5.5vw;
      left: 15%;
      color: #f5f5f5;
      font-family: "SaolDisplay", serif;
    }
    .desc_header_image {
      position: absolute;
      width: 30vw;
      bottom: 32%;
      line-height: 23px;
      right: 12%;
      font-size: 0.9vw;
      font-family: "Light", sans-serif;
      color: #f5f5f5;
    }
  }
}
// end header styles

// start GoalsPhysio styles
.GoalsPhysio {
  .sticky_GoalsPhysio {
    .border_left_goalsphysio {
      position: absolute;
      top: 0;
      right: 0rem;
      background-color: #000;
      width: 1px;
      height: 0vh;
    }
    .border_right_goalsphysio {
      position: absolute;
      top: 0;
      right: 0rem;
      background-color: #000;
      width: 1px;
      height: 0vh;
    }
    .wrapper_title_goalsphysio {
      margin-top: 42%;
      .title_goalsPhysio {
        font-size: 7vw;
        clip-path: inset(100% 0% 0% 0%);
        font-weight: 500;
        color: #000;
        font-family: "SaolDisplay", serif;
        text-align: center;
      }
    }
    .wrapper_btn_GoalsPhysio {
      margin-top: 16rem;
    }
  }
  .wrapper_scan {
    padding-left: 1rem;
    width: 100%;
    position: relative;
    margin-top: 3rem;
    padding-bottom: 3rem;
    .scan_title {
      font-size: 3vw;
      color: #000;
      font-weight: 100;
      font-family: "SaolDisplay", serif;
    }
    .scan_desc {
      width: 70%;
      font-size: 14px;
      font-family: "Light", sans-serif;
      color: #000;
      margin-top: 2rem;
      line-height: 1.4rem;
    }
    .scan_border {
      position: absolute;
      bottom: 0rem;
      left: -27px;
      width: 0%;
      height: 1px;
      background-color: #000;
    }
  }
  .wrapper_Target {
    margin-top: 3rem;
    padding-left: 1rem;
    width: 100%;
    position: relative;
    padding-bottom: 3rem;
    .Target_title {
      font-size: 3vw;
      color: #000;
      font-weight: 100;
      font-family: "SaolDisplay", serif;
    }
    .Target_desc {
      width: 70%;
      font-size: 14px;
      font-family: "Light", sans-serif;
      color: #000;
      margin-top: 2rem;
      line-height: 1.4rem;
    }
    .Target_border {
      position: absolute;
      bottom: 0rem;
      left: -27px;
      width: 0%;
      height: 1px;
      background-color: #000;
    }
  }
  .wrapper_Rebalance {
    margin-top: 3rem;
    padding-left: 1rem;
    width: 100%;
    position: relative;
    padding-bottom: 3rem;
    .Rebalance_title {
      font-size: 3vw;
      color: #000;
      font-weight: 100;
      font-family: "SaolDisplay", serif;
    }
    .Rebalance_desc {
      width: 70%;
      font-size: 14px;
      font-family: "Light", sans-serif;
      color: #000;
      margin-top: 2rem;
      line-height: 1.4rem;
    }
    .Rebalance_border {
      position: absolute;
      bottom: 0rem;
      left: -27px;
      width: 0%;
      height: 1px;
      background-color: #000;
    }
  }
  .wrapper_Reinform {
    margin-top: 3rem;
    padding-left: 1rem;
    width: 100%;
    position: relative;
    padding-bottom: 3rem;
    .Reinform_title {
      font-size: 3vw;
      color: #000;
      font-weight: 100;
      font-family: "SaolDisplay", serif;
    }
    .Reinform_desc {
      width: 70%;
      font-size: 14px;
      font-family: "Light", sans-serif;
      color: #000;
      margin-top: 2rem;
      line-height: 1.4rem;
    }
    .Reinform_border {
      position: absolute;
      bottom: 0rem;
      left: -27px;
      width: 0%;
      height: 1px;
      background-color: #000;
    }
    .wrapper_image_Reinform {
      width: 690px;
      height: 650px;
      overflow: hidden;
      position: absolute;
      left: -26px;
      margin-top: 3rem;
      .image_Reinform {
        width: 100%;
        height: 100%;
        transform: scale(1.5);
        clip-path: inset(0% 0% 100% 0%);
      }
    }
  }
}
// end GoalsPhysio styles

.GoalsPhysio2 {
  .wrapper_item_GoalsPhysio2 {
    position: relative;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5rem;
    padding-bottom: 3rem;
    .title_item_GoalsPhysio2 {
      font-size: 8vw;
      color: #000;
      font-weight: 100;
      font-family: "SaolDisplay", serif;
    }
    .desc_item_GoalsPhysio2 {
      font-size: 12px;
      font-family: "Light", sans-serif;
      color: #000;
      width: 53vw;
      line-height: 20px;
    }
  }
  .border_bottemItem_GoalsPhysio2 {
    width: 0vw;
    height: 1px;
    background-color: #000;
  }
  .wrapper_titleGoalsPhysio2 {
    .title_GoalsPhysio2 {
      font-size: 13vw;
      text-align: center;
      text-transform: capitalize;
    }
  }
  .wrapper_item_goals2 {
    position: relative;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5rem;
    padding-bottom: 3rem;
    .title_itemGoals {
      font-size: 8vw;
      color: #000;
      font-weight: 100;
      font-family: "SaolDisplay", serif;
    }
    .desc_itemGoals {
      font-size: 12px;
      font-family: "Light", sans-serif;
      color: #000;
      width: 53vw;
      line-height: 20px;
    }
  }
  .image_Reinform_goals2 {
    min-width: 100%;
    min-height: 70vh;
    background-image: url(https://uploads-ssl.webflow.com/5bc989248743153705f137da/604223488bf2e87510398bb4_physioscan__01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

// start take care styles
.takeCare {
  padding-top: 20rem;
  margin-top: 1rem;
  .wrapper_big_image {
    background-image: url(https://uploads-ssl.webflow.com/5bc989248743153705f137da/6042232983a6c94ed2016f2f_bg_take-care.jpg);
    width: 100vw;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: left;
    height: 100vh;
    opacity: 0;
    .big_title {
      font-size: 15vw;
      padding-top: 15rem;
      font-family: "SaolDisplay", serif;
      color: #f5f5f5;
      text-transform: uppercase;
      mix-blend-mode: difference;
    }
  }
}
// end take care styles

// start TechnicalPhysio styles
.TechnicalPhysio {
  margin-top: 3rem;
  .sticky_TechnicalPhysio {
    .border_left_TechnicalPhysio {
      position: absolute;
      top: 0;
      right: 0rem;
      background-color: #000;
      width: 1px;
      height: 0vh;
    }
    .border_right_TechnicalPhysioo {
      position: absolute;
      top: 0;
      right: 0rem;
      background-color: #000;
      width: 1px;
      height: 0vh;
    }
    .wrapper_title_TechnicalPhysio {
      margin-top: 42%;
      .title_TechnicalPhysio {
        font-size: 7vw;
        clip-path: inset(100% 0% 0% 0%);
        font-weight: 500;
        color: #000;
        font-family: "SaolDisplay", serif;
        text-align: center;
      }
    }
    .wrapper_btn_TechnicalPhysio {
      margin-top: 15rem;
    }
  }
  .wrapper_TechnicalPhysioItems {
    margin-top: 3rem;
    padding-left: 1rem;
    width: 100%;
    position: relative;
    padding-bottom: 3rem;
    .TechnicalPhysioItems_title {
      font-size: 3vw;
      color: #000;
      font-weight: 100;
      font-family: "SaolDisplay", serif;
    }
    .TechnicalPhysioItems_desc {
      width: 70%;
      margin-top: 2rem;
      span {
        font-size: 14px;
        font-family: "Light", sans-serif;
        color: #000;
        margin-top: 2rem;
        line-height: 1.4rem;
        display: inline-block;
        &:nth-child(2) {
          margin-top: 2rem;
        }
        &:nth-child(3) {
          margin-top: 2rem;
        }
        &:nth-child(4) {
          margin-top: 2rem;
        }
      }
    }
    .TechnicalPhysioItems_border {
      position: absolute;
      bottom: 0rem;
      left: -27px;
      width: 0%;
      height: 1px;
      background-color: #000;
    }
  }
  .wrapper_image_Vibration {
    width: 690px;
    height: 650px;
    overflow: hidden;
    margin-left: -1.8rem;
  }
  .wrapper_image_Investigate {
    height: 604px;
    overflow: hidden;
    margin-top: 0;
    margin-left: -1.8rem;
  }
  .border_bottom_TechnicalPhysio {
    position: absolute;
    bottom: 4.3rem;
    left: 0rem;
    width: 100vw;
    height: 1px;
    background-color: black;
  }
}
// end TechnicalPhysio styles

.TechnicalPhysio2 {
  margin-top: 10rem;
  .wrapper_item_TechnoPhysio2 {
    position: relative;
    padding-left: 2rem;
    margin-top: 4rem;
    padding-bottom: 3rem;
    .title_item_TechnoPhysio2 {
      font-size: 8vw;
      color: #000;
      font-weight: 100;
      font-family: "SaolDisplay", serif;
    }
    .desc_item_TechnoPhysio2 {
      font-size: 12px;
      font-family: "Light", sans-serif;
      color: #000;
      line-height: 20px;
      margin-top: 2rem;
    }
  }
  .border_bottemItem_GoalsPhysio2 {
    width: 0vw;
    height: 1px;
    background-color: #000;
  }
  .image_Vibration_techno2 {
    min-width: 100%;
    min-height: 75vh;
    background-image: url(https://uploads-ssl.webflow.com/5bc989248743153705f137da/6042235f79a7104cc84ed500_physioscan_02-p-1080.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .image_Investigate_techno2 {
    min-width: 100%;
    min-height: 75vh;
    background-image: url(https://uploads-ssl.webflow.com/5bc989248743153705f137da/60422374863caf2a190d9315_physioscan_03-p-1080.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .wrapper_titleTechnicalPhysio22 {
    .title_TechnicalPhysio2 {
      font-size: 13vw;
      text-align: center;
      text-transform: capitalize;
    }
  }
}

// start footer section styles
.Footer_Physio {
  margin-top: 45rem;
  height: 80vh;
  position: relative;
  .wrapper_title_footer {
    text-align: center;
    width: 100%;
    .next_page {
      text-align: center;
      font-size: 20px;
      font-style: italic;
      font-weight: 200;
      font-family: "SaolDisplay", serif;
    }
    button {
      color: #000;
      display: inline-block;
      text-decoration: none;
      .title_footer {
        cursor: pointer;
        display: inline-block;
        .title1 {
          font-size: 10vw;
          font-weight: 500;
          line-height: 12rem;
          font-family: "SaolDisplay", serif;
          display: inline-block;
        }
        .title2 {
          font-size: 10vw;
          font-weight: 500;
          line-height: 12rem;
          font-family: "SaolDisplay", serif;
          display: inline-block;
        }
      }
    }

    .hover_title_footer {
      position: absolute;
      top: 0;
      left: 10rem;
      width: 200px;
      height: 324px;
      object-fit: cover;
      will-change: transform;
      opacity: 0;
      pointer-events: none;
      transform: translate(-50% -50%);
      mix-blend-mode: darken;
      clip-path: inset(100% 0%);
    }
  }
}
// end footer section styles
