@import url(./reset.scss);
@import url(./responsReflexology.scss);
@import url(./ResponsBtn.scss);

/* Définir les polices locales avec @font-face */
@font-face {
  font-family: "SaolDisplay";
  src: url("../assets/fonts/SaolDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Light";
  src: url("../assets/fonts/Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Appliquer les polices à des éléments spécifiques */
body {
  font-family: "SaolDisplay", sans-serif;
  height: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  cursor: default;

  &::-webkit-scrollbar {
    display: none;
  }
}

h1,
h2,
h3 {
  font-family: "Light", sans-serif;
}