@media (min-width: 360px) {
  // start responsive header of reflexology
  .header_physioscan {
    margin-top: 7rem;
    .price_physioscan {
      margin-top: 9rem;
      span {
        font-size: 4vw;
      }
      .line_price {
        width: 20px;
      }
    }
    .title_header_physioscan {
      margin-top: 2rem;
      .title_part1 {
        font-size: 11vw;
      }
      .title_part2 {
        font-size: 11vw;
      }
    }
    .scope {
      margin-top: -3%;
      mix-blend-mode: multiply;
      .wrapper_header_image {
        width: 100%;
        height: 103vh;
      }
    }
    .sticky_texts_physioscan {
      width: 100%;
      height: 78vh;
      .title_header_image {
        line-height: 2.5rem;
        top: -15%;
        font-size: 8vw;
        left: 8%;
      }
      .desc_header_image {
        width: 42vw;
        bottom: 60%;
        line-height: 19px;
        right: 15%;
        font-size: 1.9vw;
      }
    }
  }
  // end responsive header of reflexology

  // start responsive GoalsPhysio styles
  .GoalsPhysio2 {
    margin-top: 0rem;
    .wrapper_item_GoalsPhysio2 {
      position: relative;
      padding-left: 0rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 5rem;
      padding-bottom: 3rem;
      .title_item_GoalsPhysio2 {
        font-size: 8vw;
      }
      .desc_item_GoalsPhysio2 {
        font-size: 11px;
        width: 53vw;
        line-height: 19px;
      }
    }
    .wrapper_titleGoalsPhysio2 {
      .title_GoalsPhysio2 {
        font-size: 18vw;
      }
    }
    .image_Reinform_goals2 {
      min-width: 100%;
      min-height: 65vh;
    }
  }
  // end responsive GoalsPhysio styles

  // start responsive TakeCare styles
  .takeCare {
    padding-top: 15rem;
    margin-top: 1rem;
    .wrapper_big_image {
      background-image: url(https://uploads-ssl.webflow.com/5bc989248743153705f137da/6042232983a6c94ed2016f2f_bg_take-care.jpg);
      width: 100vw;
      background-size: 300%;
      background-repeat: no-repeat;
      background-position: -20rem;
      height: 100vh;
      opacity: 0;
      .big_title {
        font-size: 15vw;
        padding-top: 25rem;
        font-family: "SaolDisplay", serif;
        color: #f5f5f5;
        text-transform: uppercase;
        mix-blend-mode: difference;
      }
    }
  }
  // end responsive TakeCare

  // start responsive techni2 styles
  .TechnicalPhysio2 {
    margin-top: 25rem;
    .wrapper_item_TechnoPhysio2 {
      padding-left: 2;
      margin-top: 4rem;
      padding-bottom: 1rem;
      .title_item_TechnoPhysio2 {
        font-size: 6vw;
        line-height: 35px;
        margin-bottom: 1rem;
      }
      .desc_item_TechnoPhysio2 {
        font-size: 11px;
        line-height: 22px;
        margin-top: 1.5rem;
      }
    }
    .image_Vibration_techno2 {
      margin-top: 0rem;
      min-width: 100%;
      min-height: 50vh;
    }
    .image_Investigate_techno2 {
      margin-top: 0rem;
      min-width: 100%;
      min-height: 50vh;
    }
  }
  // end responsive techno2 styles
  // start responsive footer of physio
  .Footer_Physio {
    margin-top: 10rem;
    height: 82vh;
    .wrapper_title_footer {
      width: 100%;
      .next_page {
        font-size: 20px;
        margin-top: 6rem;
      }
      a {
        .title_footer {
          margin-top: 2rem;
          .title1 {
            font-size: 14vw;
            line-height: 5rem;
          }
          .title2 {
            font-size: 14vw;
            line-height: 5rem;
          }
        }
      }
      .hover_title_footer {
        top: 0;
        left: 10rem;
        width: 200px;
        height: 280px;
      }
    }
  }
  // end responsive footer of physio
}
@media (min-width: 476px) {
  // start responsive header of reflexology
  .header_physioscan {
    margin-top: 7rem;
    .price_physioscan {
      margin-top: 9rem;
      span {
        font-size: 5vw;
      }
      .line_price {
        width: 20px;
      }
    }
    .title_header_physioscan {
      margin-top: 2rem;
      .title_part1 {
        font-size: 13vw;
      }
      .title_part2 {
        font-size: 13vw;
      }
    }
    .scope {
      margin-top: -3%;
      mix-blend-mode: multiply;
      .wrapper_header_image {
        width: 100%;
        height: 103vh;
      }
    }
    .sticky_texts_physioscan {
      width: 100%;
      height: 78vh;
      .title_header_image {
        line-height: 3.5rem;
        top: -15%;
        font-size: 8vw;
        left: 8%;
      }
      .desc_header_image {
        width: 42vw;
        bottom: 42%;
        line-height: 19px;
        right: 15%;
        font-size: 1.9vw;
      }
    }
  }
  // end responsive header of reflexology

  // start responsive GoalsPhysio styles
  .GoalsPhysio2 {
    margin-top: 6rem;
    .wrapper_item_GoalsPhysio2 {
      position: relative;
      padding-left: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 5rem;
      padding-bottom: 3rem;
      .title_item_GoalsPhysio2 {
        font-size: 8vw;
      }
      .desc_item_GoalsPhysio2 {
        font-size: 10px;
        width: 52vw;
        line-height: 17px;
      }
    }
    .wrapper_titleGoalsPhysio2 {
      .title_GoalsPhysio2 {
        font-size: 18vw;
      }
    }
    .image_Reinform_goals2 {
      min-width: 100%;
      min-height: 66vh;
    }
  }
  // end responsive GoalsPhysio styles

  // start responsive TakeCare styles
  .takeCare {
    padding-top: 15rem;
    margin-top: 1rem;
    .wrapper_big_image {
      background-image: url(https://uploads-ssl.webflow.com/5bc989248743153705f137da/6042232983a6c94ed2016f2f_bg_take-care.jpg);
      width: 100vw;
      background-size: 300%;
      background-repeat: no-repeat;
      background-position: -30rem;
      height: 100vh;
      opacity: 0;
      .big_title {
        font-size: 15vw;
        padding-top: 15rem;
        font-family: "SaolDisplay", serif;
        color: #f5f5f5;
        text-transform: uppercase;
        mix-blend-mode: difference;
      }
    }
  }
  // end responsive TakeCare styles

  // start responsive techni2 styles
  .TechnicalPhysio2 {
    margin-top: 20rem;
    .wrapper_item_TechnoPhysio2 {
      padding-left: 2;
      margin-top: 2rem;
      padding-bottom: 1rem;
      .title_item_TechnoPhysio2 {
        font-size: 6vw;
        line-height: 62px;
        margin-bottom: 0rem;
      }
      .desc_item_TechnoPhysio2 {
        font-size: 11px;
        line-height: 22px;
        margin-top: 1.5rem;
      }
    }
    .image_Vibration_techno2 {
      margin-top: 0rem;
      min-width: 100%;
      min-height: 75vh;
    }
    .image_Investigate_techno2 {
      margin-top: 0rem;
      min-width: 100%;
      min-height: 75vh;
    }
  }
  // end responsive techno2 styles

  // start responsive footer of physio
  .Footer_Physio {
    margin-top: 17rem;
    height: 80vh;
    .wrapper_title_footer {
      width: 100%;
      .next_page {
        font-size: 20px;
        margin-top: 6rem;
      }
      a {
        .title_footer {
          margin-top: 2rem;
          .title1 {
            font-size: 14vw;
            line-height: 5rem;
          }
          .title2 {
            font-size: 14vw;
            line-height: 5rem;
          }
        }
      }
      .hover_title_footer {
        top: 0;
        left: 10rem;
        width: 200px;
        height: 280px;
      }
    }
  }
  // end responsive footer of physio
}
@media (min-width: 576px) {
  // start responsive header of reflexology
  .header_physioscan {
    margin-top: 7rem;
    .price_physioscan {
      margin-top: 9rem;
      span {
        font-size: 4vw;
      }
      .line_price {
        width: 20px;
      }
    }
    .title_header_physioscan {
      margin-top: 2rem;
      .title_part1 {
        font-size: 11vw;
      }
      .title_part2 {
        font-size: 11vw;
      }
    }
    .scope {
      margin-top: -3%;
      mix-blend-mode: multiply;
      .wrapper_header_image {
        width: 100%;
        height: 103vh;
      }
    }
    .sticky_texts_physioscan {
      width: 100%;
      height: 78vh;
      .title_header_image {
        line-height: 4rem;
        top: -15%;
        font-size: 8vw;
        left: 8%;
      }
      .desc_header_image {
        width: 35vw;
        bottom: 28%;
        line-height: 23px;
        right: 12%;
        font-size: 1.5vw;
      }
    }
  }
  // end responsive header of reflexology

  // start responsive GoalsPhysio
  .GoalsPhysio2 {
    margin-top: 10rem;
    .wrapper_item_GoalsPhysio2 {
      position: relative;
      padding-left: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 5rem;
      padding-bottom: 3rem;
      .title_item_GoalsPhysio2 {
        font-size: 6vw;
      }
      .desc_item_GoalsPhysio2 {
        font-size: 11px;
        width: 53vw;
        line-height: 18px;
      }
    }
    .wrapper_titleGoalsPhysio2 {
      .title_GoalsPhysio2 {
        font-size: 15vw;
      }
    }
    .image_Reinform_goals2 {
      min-width: 100%;
      min-height: 68vh;
    }
  }
  // end responsive GoalsPhysio

  // start responsive TakeCare
  .takeCare {
    padding-top: 20rem;
    margin-top: 1rem;
    .wrapper_big_image {
      background-image: url(https://uploads-ssl.webflow.com/5bc989248743153705f137da/6042232983a6c94ed2016f2f_bg_take-care.jpg);
      width: 100vw;
      background-size: 200%;
      background-repeat: no-repeat;
      background-position: -24rem;
      height: 100vh;
      opacity: 0;
      .big_title {
        font-size: 15vw;
        padding-top: 16rem;
        font-family: "SaolDisplay", serif;
        color: #f5f5f5;
        text-transform: uppercase;
        mix-blend-mode: difference;
      }
    }
  }
  // end responsive TakeCare

  // start responsive techni2
  .TechnicalPhysio2 {
    margin-top: 20rem;
    .wrapper_item_TechnoPhysio2 {
      padding-left: 2;
      margin-top: 2rem;
      padding-bottom: 2rem;
      .title_item_TechnoPhysio2 {
        font-size: 5vw;
        line-height: 62px;
        margin-bottom: 0rem;
      }
      .desc_item_TechnoPhysio2 {
        font-size: 11px;
        line-height: 22px;
        margin-top: 1.5rem;
      }
    }
    .image_Vibration_techno2 {
      min-width: 100%;
      min-height: 75vh;
    }
    .image_Investigate_techno2 {
      min-width: 100%;
      min-height: 75vh;
    }
  }
  // end responsive techno2

  // start responsive footer of physio
  .Footer_Physio {
    margin-top: 15rem;
    height: 80vh;
    .wrapper_title_footer {
      width: 100%;
      .next_page {
        font-size: 20px;
        margin-top: 5rem;
      }
      a {
        .title_footer {
          margin-top: 2rem;
          .title1 {
            font-size: 13vw;
            line-height: 6rem;
          }
          .title2 {
            font-size: 13vw;
            line-height: 6rem;
          }
        }
      }
      .hover_title_footer {
        top: 0;
        left: 10rem;
        width: 200px;
        height: 280px;
      }
    }
  }
  // end responsive footer of physio
}
@media (min-width: 768px) {
  // start responsive header of reflexology
  .header_physioscan {
    margin-top: 7rem;
    .price_physioscan {
      margin-top: 8rem;
      span {
        font-size: 3vw;
      }
      .line_price {
        width: 20px;
      }
    }
    .title_header_physioscan {
      margin-top: 2rem;
      .title_part1 {
        font-size: 11vw;
      }
      .title_part2 {
        font-size: 11vw;
      }
    }
    .scope {
      margin-top: -3%;
      mix-blend-mode: multiply;
      .wrapper_header_image {
        width: 100%;
        height: 103vh;
      }
    }
    .sticky_texts_physioscan {
      width: 100%;
      height: 78vh;
      .title_header_image {
        line-height: 5rem;
        top: -15%;
        font-size: 7.5vw;
        left: 10%;
      }
      .desc_header_image {
        width: 37vw;
        bottom: 22%;
        line-height: 23px;
        right: 12%;
        font-size: 1.3vw;
      }
    }
  }
  // end responsive header of reflexology

  // start responsive GoalsPhysio styles
  .GoalsPhysio2 {
    margin-top: 14rem;
    .wrapper_titleGoalsPhysio2 {
      .title_GoalsPhysio2 {
        font-size: 15vw;
      }
    }
    .wrapper_item_GoalsPhysio2 {
      position: relative;
      padding-left: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 5rem;
      padding-bottom: 3rem;
      .title_item_GoalsPhysio2 {
        font-size: 6vw;
      }
      .desc_item_GoalsPhysio2 {
        font-size: 12px;
        width: 53vw;
        line-height: 20px;
      }
    }
    .image_Reinform_goals2 {
      min-width: 100%;
      min-height: 70vh;
    }
  }
  // end responsive GoalsPhysio styles

  // start responsive TakeCare styles
  .takeCare {
    padding-top: 20rem;
    margin-top: 1rem;
    .wrapper_big_image {
      background-image: url(https://uploads-ssl.webflow.com/5bc989248743153705f137da/6042232983a6c94ed2016f2f_bg_take-care.jpg);
      width: 100vw;
      background-size: 170%;
      background-repeat: no-repeat;
      background-position: -20rem;
      height: 100vh;
      opacity: 0;
      .big_title {
        font-size: 15vw;
        padding-top: 15rem;
        font-family: "SaolDisplay", serif;
        color: #f5f5f5;
        text-transform: uppercase;
        mix-blend-mode: difference;
      }
    }
  }
  // end responsive TakeCare styles

  // start responsive techni2
  .TechnicalPhysio2 {
    margin-top: 20rem;
    .wrapper_item_TechnoPhysio2 {
      padding-left: 2;
      margin-top: 4rem;
      padding-bottom: 1rem;
      .title_item_TechnoPhysio2 {
        font-size: 5vw;
        line-height: 62px;
        margin-bottom: 1rem;
      }
      .desc_item_TechnoPhysio2 {
        font-size: 11px;
        line-height: 22px;
        margin-top: 2.5rem;
      }
    }
    .image_Vibration_techno2 {
      min-width: 100%;
      min-height: 75vh;
    }
    .image_Investigate_techno2 {
      min-width: 100%;
      min-height: 75vh;
    }
  }
  // end responsive techno2

  // start responsive footer of physio
  .Footer_Physio {
    margin-top: 15rem;
    height: 80vh;
    .wrapper_title_footer {
      width: 100%;
      .next_page {
        font-size: 20px;
        margin-top: 4rem;
      }
      a {
        .title_footer {
          margin-top: 2rem;
          .title1 {
            font-size: 12vw;
            line-height: 7rem;
          }
          .title2 {
            font-size: 12vw;
            line-height: 7rem;
          }
        }
      }
      .hover_title_footer {
        top: 0;
        left: 10rem;
        width: 200px;
        height: 324px;
      }
    }
  }
  // end responsive footer of physio
}
@media (min-width: 992px) {
  // start responsive header of reflexology
  .header_physioscan {
    margin-top: 7rem;
    .price_physioscan {
      margin-top: 7rem;
      span {
        font-size: 2vw;
      }
      .line_price {
        width: 20px;
      }
    }
    .title_header_physioscan {
      margin-top: 2rem;
      .title_part1 {
        font-size: 10vw;
      }
      .title_part2 {
        font-size: 10vw;
      }
    }
    .scope {
      margin-top: -3%;
      mix-blend-mode: multiply;
      .wrapper_header_image {
        width: 100%;
        height: 103vh;
      }
    }
    .sticky_texts_physioscan {
      width: 100%;
      height: 78vh;
      .title_header_image {
        line-height: 5rem;
        top: -15%;
        font-size: 7vw;
        left: 10%;
      }
      .desc_header_image {
        width: 30vw;
        bottom: 17%;
        line-height: 23px;
        right: 12%;
        font-size: 1.1vw;
      }
    }
  }
  // end responsive header of reflexology

  // start GoalsPhysio styles
  .GoalsPhysio {
    .sticky_GoalsPhysio {
      .border_left_goalsphysio {
        top: 0;
        right: 0rem;
        width: 1px;
        height: 0vh;
      }
      .border_right_goalsphysio {
        top: 0;
        right: 0rem;
      }
      .wrapper_title_goalsphysio {
        margin-top: 15.5rem;
        .title_goalsPhysio {
          font-size: 11vw;
        }
      }
      .wrapper_btn_GoalsPhysio {
        margin-top: 16rem;
      }
    }
    .wrapper_scan {
      padding-left: 1rem;
      margin-top: 3rem;
      padding-bottom: 3rem;
      .scan_title {
        font-size: 3vw;
      }
      .scan_desc {
        width: 70%;
        font-size: 11px;
        margin-top: 1.4rem;
        line-height: 20px;
      }
      .scan_border {
        bottom: 0rem;
      }
    }
    .wrapper_Target {
      margin-top: 3rem;
      padding-left: 1rem;
      padding-bottom: 3rem;
      .Target_title {
        font-size: 3vw;
      }
      .Target_desc {
        width: 70%;
        font-size: 11px;
        margin-top: 1.4rem;
        line-height: 20px;
      }
      .Target_border {
        bottom: 0rem;
        left: -27px;
      }
    }
    .wrapper_Rebalance {
      margin-top: 3rem;
      padding-left: 1rem;
      padding-bottom: 3rem;
      .Rebalance_title {
        font-size: 3vw;
      }
      .Rebalance_desc {
        width: 70%;
        font-size: 11px;
        margin-top: 1.4rem;
        line-height: 20px;
      }
      .Rebalance_border {
        bottom: 0rem;
        left: -27px;
      }
    }
    .wrapper_Reinform {
      margin-top: 3rem;
      padding-left: 1rem;
      padding-bottom: 3rem;
      .Reinform_title {
        font-size: 3vw;
      }
      .Reinform_desc {
        width: 70%;
        font-size: 11px;
        margin-top: 1.4rem;
        line-height: 20px;
      }
      .Reinform_border {
        bottom: 0rem;
        left: -27px;
      }
      .wrapper_image_Reinform {
        width: 690px;
        height: 650px;
        left: -26px;
        margin-top: 3rem;
        .image_Reinform {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  // end GoalsPhysio styles

  // start responsive TakeCare styles
  .takeCare {
    padding-top: 20rem;
    margin-top: 1rem;
    .wrapper_big_image {
      background-image: url(https://uploads-ssl.webflow.com/5bc989248743153705f137da/6042232983a6c94ed2016f2f_bg_take-care.jpg);
      width: 100vw;
      background-size: 140%;
      background-repeat: no-repeat;
      background-position: -15rem;
      height: 100vh;
      opacity: 0;
      .big_title {
        font-size: 15vw;
        padding-top: 15rem;
        font-family: "SaolDisplay", serif;
        color: #f5f5f5;
        text-transform: uppercase;
        mix-blend-mode: difference;
      }
    }
  }
  // end responsive TakeCare styles

  // start responsive TechnicalPhysio styles
  .TechnicalPhysio {
    margin-top: 3rem;
    .sticky_TechnicalPhysio {
      .border_left_TechnicalPhysio {
        top: 0;
        right: 0rem;
      }
      .border_right_TechnicalPhysioo {
        top: 0;
        right: 0rem;
      }
      .wrapper_title_TechnicalPhysio {
        margin-top: 42%;
        .title_TechnicalPhysio {
          font-size: 7vw;
          clip-path: inset(100% 0% 0% 0%);
        }
      }
      .wrapper_btn_TechnicalPhysio {
        margin-top: 15rem;
      }
    }
    .wrapper_TechnicalPhysioItems {
      margin-top: 3rem;
      padding-left: 1rem;
      width: 100%;
      padding-bottom: 3rem;
      .TechnicalPhysioItems_title {
        font-size: 3vw;
        line-height: 46px;
      }
      .TechnicalPhysioItems_desc {
        width: 70%;
        margin-top: 0rem;
        span {
          font-size: 11px;
          margin-top: 2rem;
          line-height: 20px;
          &:nth-child(2) {
            margin-top: 2rem;
          }
          &:nth-child(3) {
            margin-top: 2rem;
          }
          &:nth-child(4) {
            margin-top: 2rem;
          }
        }
      }
      .TechnicalPhysioItems_border {
        bottom: 0rem;
        left: -27px;
      }
    }
    .wrapper_image_Vibration {
      width: 473px;
      height: 470px;
      margin-left: -1.8rem;
      img {
        height: 100%;
      }
    }
    .wrapper_image_Investigate {
      height: 470px;
      margin-top: 0;
      margin-left: -1.8rem;
      img {
        height: 100%;
      }
    }
    .border_bottom_TechnicalPhysio {
      bottom: 0rem;
      left: 0rem;
    }
  }
  // end responsive TechnicalPhysio styles
  // start responsive footer of physio
  .Footer_Physio {
    margin-top: 25rem;
    height: 80vh;
    .wrapper_title_footer {
      width: 100%;
      .next_page {
        font-size: 20px;
        margin-top: 1rem;
      }
      a {
        .title_footer {
          margin-top: 1rem;
          .title1 {
            font-size: 11vw;
            line-height: 9rem;
          }
          .title2 {
            font-size: 11vw;
            line-height: 9rem;
          }
        }
      }
      .hover_title_footer {
        top: 0;
        left: 10rem;
        width: 200px;
        height: 324px;
      }
    }
  }
  // end responsive footer of physio
}
@media (min-width: 1200px) {
  // start responsive header of reflexology
  .header_physioscan {
    margin-top: 7rem;
    .price_physioscan {
      margin-top: 7rem;
      span {
        font-size: 2vw;
      }
      .line_price {
        width: 20px;
      }
    }
    .title_header_physioscan {
      margin-top: 2rem;
      .title_part1 {
        font-size: 10vw;
      }
      .title_part2 {
        font-size: 10vw;
      }
    }
    .scope {
      margin-top: -3%;
      mix-blend-mode: multiply;
      .wrapper_header_image {
        width: 100%;
        height: 103vh;
      }
    }
    .sticky_texts_physioscan {
      width: 100%;
      height: 78vh;
      .title_header_image {
        line-height: 6rem;
        top: -15%;
        font-size: 6.5vw;
        left: 15%;
      }
      .desc_header_image {
        width: 30vw;
        bottom: 18%;
        line-height: 22px;
        right: 12%;
        font-size: 0.9vw;
      }
    }
  }
  // end responsive header of reflexology

  // start GoalsPhysio styles
  .GoalsPhysio {
    .sticky_GoalsPhysio {
      .border_left_goalsphysio {
        top: 0;
        right: 0rem;
        width: 1px;
        height: 0vh;
      }
      .border_right_goalsphysio {
        top: 0;
        right: 0rem;
      }
      .wrapper_title_goalsphysio {
        margin-top: 16rem;
        .title_goalsPhysio {
          font-size: 9vw;
        }
      }
      .wrapper_btn_GoalsPhysio {
        margin-top: 16rem;
      }
    }
    .wrapper_scan {
      padding-left: 1rem;
      margin-top: 3rem;
      padding-bottom: 3rem;
      .scan_title {
        font-size: 3vw;
      }
      .scan_desc {
        width: 70%;
        font-size: 12px;
        margin-top: 2rem;
        line-height: 21px;
      }
      .scan_border {
        bottom: 0rem;
      }
    }
    .wrapper_Target {
      margin-top: 3rem;
      padding-left: 1rem;
      padding-bottom: 3rem;
      .Target_title {
        font-size: 3vw;
      }
      .Target_desc {
        width: 70%;
        font-size: 12px;
        margin-top: 2rem;
        line-height: 21px;
      }
      .Target_border {
        bottom: 0rem;
        left: -27px;
      }
    }
    .wrapper_Rebalance {
      margin-top: 3rem;
      padding-left: 1rem;
      padding-bottom: 3rem;
      .Rebalance_title {
        font-size: 3vw;
      }
      .Rebalance_desc {
        width: 70%;
        font-size: 12px;
        margin-top: 2rem;
        line-height: 21px;
      }
      .Rebalance_border {
        bottom: 0rem;
        left: -27px;
      }
    }
    .wrapper_Reinform {
      margin-top: 3rem;
      padding-left: 1rem;
      padding-bottom: 3rem;
      .Reinform_title {
        font-size: 3vw;
      }
      .Reinform_desc {
        width: 70%;
        font-size: 12px;
        margin-top: 2rem;
        line-height: 21px;
      }
      .Reinform_border {
        bottom: 0rem;
        left: -27px;
      }
      .wrapper_image_Reinform {
        width: 690px;
        height: 650px;
        left: -26px;
        margin-top: 3rem;
        .image_Reinform {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  // end GoalsPhysio styles

  // start responsive TakeCare styles
  .takeCare {
    padding-top: 20rem;
    margin-top: 1rem;
    .wrapper_big_image {
      background-image: url(https://uploads-ssl.webflow.com/5bc989248743153705f137da/6042232983a6c94ed2016f2f_bg_take-care.jpg);
      width: 100vw;
      background-size: 125%;
      background-repeat: no-repeat;
      background-position: -10rem;
      height: 100vh;
      opacity: 0;
      .big_title {
        font-size: 15vw;
        padding-top: 15rem;
        font-family: "SaolDisplay", serif;
        color: #f5f5f5;
        text-transform: uppercase;
        mix-blend-mode: difference;
      }
    }
  }
  // end responsive TakeCare styles

  // start responsive TechnicalPhysio styles
  .TechnicalPhysio {
    margin-top: 3rem;
    .sticky_TechnicalPhysio {
      .border_left_TechnicalPhysio {
        top: 0;
        right: 0rem;
      }
      .border_right_TechnicalPhysioo {
        top: 0;
        right: 0rem;
      }
      .wrapper_title_TechnicalPhysio {
        margin-top: 42%;
        .title_TechnicalPhysio {
          font-size: 7vw;
          clip-path: inset(100% 0% 0% 0%);
        }
      }
      .wrapper_btn_TechnicalPhysio {
        margin-top: 15rem;
      }
    }
    .wrapper_TechnicalPhysioItems {
      margin-top: 3rem;
      padding-left: 1rem;
      width: 100%;
      padding-bottom: 3rem;
      .TechnicalPhysioItems_title {
        font-size: 3vw;
        line-height: 46px;
      }
      .TechnicalPhysioItems_desc {
        width: 70%;
        margin-top: 2rem;
        span {
          font-size: 12px;
          margin-top: 0rem;
          line-height: 21px;
          &:nth-child(2) {
            margin-top: 2rem;
          }
          &:nth-child(3) {
            margin-top: 2rem;
          }
          &:nth-child(4) {
            margin-top: 2rem;
          }
        }
      }
      .TechnicalPhysioItems_border {
        bottom: 0rem;
        left: -27px;
      }
    }
    .wrapper_image_Vibration {
      width: 690px;
      height: 550px;
      margin-left: -1.8rem;
    }
    .wrapper_image_Investigate {
      height: 530px;
      margin-top: 0;
      margin-left: -1.8rem;
    }
    .border_bottom_TechnicalPhysio {
      bottom: 0rem;
      left: 0rem;
    }
  }
  // end responsive TechnicalPhysio styles

  // start responsive footer of physio
  .Footer_Physio {
    margin-top: 25rem;
    height: 80vh;
    .wrapper_title_footer {
      width: 100%;
      .next_page {
        font-size: 20px;
        margin-top: 0rem;
      }
      a {
        .title_footer {
          margin-top: 2rem;
          .title1 {
            font-size: 10vw;
            line-height: 10rem;
          }
          .title2 {
            font-size: 10vw;
            line-height: 10rem;
          }
        }
      }
      .hover_title_footer {
        top: 0;
        left: 10rem;
        width: 200px;
        height: 324px;
      }
    }
  }
  // end responsive footer of physio
}
@media (min-width: 1400px) {
  // start responsive header of reflexology
  .header_physioscan {
    margin-top: 7rem;
    .price_physioscan {
      margin-top: 7rem;
      span {
        font-size: 2vw;
      }
      .line_price {
        width: 20px;
      }
    }
    .title_header_physioscan {
      margin-top: 3rem;
      .title_part1 {
        font-size: 10vw;
      }
      .title_part2 {
        font-size: 10vw;
      }
    }
    .scope {
      margin-top: -3%;
      mix-blend-mode: multiply;
      .wrapper_header_image {
        width: 100%;
        height: 103vh;
      }
    }
    .sticky_texts_physioscan {
      width: 100%;
      height: 78vh;
      .title_header_image {
        line-height: 6.5rem;
        top: -15%;
        font-size: 5.5vw;
        left: 15%;
      }
      .desc_header_image {
        width: 30vw;
        bottom: 25%;
        line-height: 23px;
        right: 12%;
        font-size: 0.9vw;
      }
    }
  }
  // end responsive header of reflexology

  // start responsive GoalsPhysio styles
  .GoalsPhysio {
    .sticky_GoalsPhysio {
      .border_left_goalsphysio {
        top: 0;
        right: 0rem;
        width: 1px;
        height: 0vh;
      }
      .border_right_goalsphysio {
        top: 0;
        right: 0rem;
      }
      .wrapper_title_goalsphysio {
        margin-top: 17em;
        .title_goalsPhysio {
          font-size: 9vw;
        }
      }
      .wrapper_btn_GoalsPhysio {
        margin-top: 16rem;
      }
    }
    .wrapper_scan {
      padding-left: 1rem;
      margin-top: 3rem;
      padding-bottom: 3rem;
      .scan_title {
        font-size: 3vw;
      }
      .scan_desc {
        width: 70%;
        font-size: 14px;
        margin-top: 2rem;
        line-height: 1.4rem;
      }
      .scan_border {
        bottom: 0rem;
      }
    }
    .wrapper_Target {
      margin-top: 3rem;
      padding-left: 1rem;
      padding-bottom: 3rem;
      .Target_title {
        font-size: 3vw;
      }
      .Target_desc {
        width: 70%;
        font-size: 14px;
        margin-top: 2rem;
        line-height: 1.4rem;
      }
      .Target_border {
        bottom: 0rem;
        left: -27px;
      }
    }
    .wrapper_Rebalance {
      margin-top: 3rem;
      padding-left: 1rem;
      padding-bottom: 3rem;
      .Rebalance_title {
        font-size: 3vw;
      }
      .Rebalance_desc {
        width: 70%;
        font-size: 14px;
        margin-top: 2rem;
        line-height: 1.4rem;
      }
      .Rebalance_border {
        bottom: 0rem;
        left: -27px;
      }
    }
    .wrapper_Reinform {
      margin-top: 3rem;
      padding-left: 1rem;
      padding-bottom: 3rem;
      .Reinform_title {
        font-size: 3vw;
      }
      .Reinform_desc {
        width: 70%;
        font-size: 14px;
        margin-top: 2rem;
        line-height: 1.4rem;
      }
      .Reinform_border {
        bottom: 0rem;
        left: -27px;
      }
      .wrapper_image_Reinform {
        width: 690px;
        height: 650px;
        left: -26px;
        margin-top: 3rem;
        .image_Reinform {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  // start responsive TakeCare styles
  .takeCare {
    padding-top: 20rem;
    margin-top: 1rem;
    .wrapper_big_image {
      background-image: url(https://uploads-ssl.webflow.com/5bc989248743153705f137da/6042232983a6c94ed2016f2f_bg_take-care.jpg);
      width: 100vw;
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: 0rem;
      height: 100vh;
      opacity: 0;
      .big_title {
        font-size: 15vw;
        padding-top: 15rem;
        font-family: "SaolDisplay", serif;
        color: #f5f5f5;
        text-transform: uppercase;
        mix-blend-mode: difference;
      }
    }
  }
  // end responsive TakeCare styles

  // start responsive TechnicalPhysio
  .TechnicalPhysio {
    margin-top: 3rem;
    .sticky_TechnicalPhysio {
      .border_left_TechnicalPhysio {
        top: 0;
        right: 0rem;
      }
      .border_right_TechnicalPhysioo {
        top: 0;
        right: 0rem;
      }
      .wrapper_title_TechnicalPhysio {
        margin-top: 42%;
        .title_TechnicalPhysio {
          font-size: 7vw;
          clip-path: inset(100% 0% 0% 0%);
        }
      }
      .wrapper_btn_TechnicalPhysio {
        margin-top: 15rem;
      }
    }
    .wrapper_TechnicalPhysioItems {
      margin-top: 3rem;
      padding-left: 1rem;
      width: 100%;
      padding-bottom: 3rem;
      .TechnicalPhysioItems_title {
        font-size: 3vw;
        line-height: 55px;
      }
      .TechnicalPhysioItems_desc {
        width: 70%;
        margin-top: 2rem;
        span {
          font-size: 14px;
          margin-top: 2rem;
          line-height: 1.4rem;
          &:nth-child(2) {
            margin-top: 2rem;
          }
          &:nth-child(3) {
            margin-top: 2rem;
          }
          &:nth-child(4) {
            margin-top: 2rem;
          }
        }
      }
      .TechnicalPhysioItems_border {
        bottom: 0rem;
        left: -27px;
      }
    }
    .wrapper_image_Vibration {
      width: 690px;
      height: 650px;
      margin-left: -1.8rem;
    }
    .wrapper_image_Investigate {
      height: 567px;
      margin-top: 0;
      margin-left: -1.8rem;
    }
    .border_bottom_TechnicalPhysio {
      bottom: 0rem;
      left: 0rem;
    }
  }
  // end responsive TechnicalPhysio

  // start responsive footer of physio
  .Footer_Physio {
    margin-top: 35rem;
    height: 80vh;
    .wrapper_title_footer {
      width: 100%;
      .next_page {
        font-size: 20px;
      }
      a {
        .title_footer {
          margin-top: 0;
          .title1 {
            font-size: 10vw;
            line-height: 12rem;
          }
          .title2 {
            font-size: 10vw;
            line-height: 12rem;
          }
        }
      }
      .hover_title_footer {
        top: 0;
        left: 10rem;
        width: 200px;
        height: 324px;
      }
    }
  }
  // end responsive footer of physio
}
